<footer class="bg-white border-t mt-10">

  <div class="max-w-7xl mx-auto px-4 sm:px-6 py-5">

    <div class="flex flex-col md:flex-row items-center justify-between gap-6">

      <!-- Socials -->
      <div class="flex items-center gap-5 text-gray-500 text-lg">

        <a href="#" class="hover:text-blue-600 transition">
          <i class="fa-brands fa-square-facebook"></i>
        </a>

        <a href="https://www.instagram.com/rohit_rg.18/?hl=en" class="hover:text-pink-500 transition">
          <i class="fa-brands fa-square-instagram"></i>
        </a>

        <a href="https://www.linkedin.com/in/rohit-gupta-dev1421/" class="hover:text-blue-700 transition">
          <i class="fa-brands fa-square-linkedin"></i>
        </a>

      </div>

      <!-- Brand -->
      <div class="text-sm text-gray-600 text-center">
        &copy; <span class="font-medium">MediCycle Private Limited</span>
      </div>

      <!-- Links -->
      <div class="flex items-center gap-5 text-sm">

        <a href="/admin/privacy"
           class="text-gray-600 hover:text-gray-900 transition">
          Privacy
        </a>

        <a href="/admin/terms"
           class="text-gray-600 hover:text-gray-900 transition">
          Terms
        </a>

      </div>

    </div>

  </div>

</footer>