<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediCycle</title>
    <link rel="icon" type="image/png" href="/logo/logo.png">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("../includes/navbar.ejs") %>
    
    <div class="main-container">
        <%- include("../includes/flash.ejs") %>
        <%- body %>
    </div>

    <%- include("../includes/footer.ejs") %>

    <script src="/js/validation.js"></script>
</body>
</html>